MONGO_CONNECTION_STRING=mongodb+srv://<user>:<password>@<cluster.id>.mongodb.net/swuniversity?appName=<app_name>
CRYPTO_PEPPER_CURRENT=<crypto_pepper_current>
CRYPTO_PEPPER_PREVIOUS=
PEPPER_VERSION=v1
SESSION_SECRET=<session_secret>
RESEND_API_KEY=<resend_api_key>
RESEND_FROM_EMAIL=noreply@swuniversity.net